{{input value=url onEvent="enter" action="createShortLink"}}
<button {{action "createShortLink"}}>Get Shorty</button>

{{#each post in model itemController="short-link-controller"}}
  <p>
    <a {{bind-attr href="controller.outboundLink"}}>{{controller.outboundLink}}</a>
  </p>
{{/each}}

{{outlet}}
